* {
    font-family: "SF Pro Display";
    font-size: 11pt;  
    color: white;
    padding: 1px 7px 1px 7px;
    border-radius: 0.6rem;
    box-shadow: none;
    text-shadow: none;
    transition-duration: 0s;
}

window#waybar {
    all: unset;
}

.modules-left,
.modules-center,
.modules-right {
    margin: 5px 10px 2px 0px;
}

#window,
#memory,
#disk,
#network,
#wireplumber,
#custom-combined-time-date,
#cpu,
#workspaces {
    margin-left: 7px;
    border: 1px rgba(255, 255, 255, 0.5) solid;
}

#workspaces {
    padding: 0px;
    margin: 0px;
}

#custom-combined-time-date {
    background: transparent;
}

#wireplumber {
    background: transparent;
}

#memory {
    background: transparent;
}

#cpu {
    background: transparent;
}

/* Optional: Add hover effects for better interactivity */
#window:hover, 
#memory:hover, 
#disk:hover, 
#wireplumber:hover, 
#cpu:hover,
#workspaces:hover,
#cpu.critical {
    color: #898989;
}
