/* -----------------------------------------------------
 * Global Defaults
 * ----------------------------------------------------- */
* {
    font-family: "SF Pro Display";
    font-size: 11pt;  
    color: white;
    padding: 1px 4px;
    border-radius: 0.5rem;
    box-shadow: none;
    text-shadow: none;
    transition-duration: 0.2s; 
}

/* Reset Waybar window */
window#waybar {
    all: unset;
}

/* -----------------------------------------------------
 * Layout Containers
 * ----------------------------------------------------- */
.modules-left,
.modules-center,
.modules-right {
    margin: 8px 10px 0px 10px;
}

/* -----------------------------------------------------
 * Liquid Glass Base Style
 * ----------------------------------------------------- */
#window,
#custom-combined-time-date,
#workspaces,
#wireplumber,
#network,
#bluetooth,
#memory,
#cpu {
    background-image: linear-gradient(
        135deg,
        rgba(205, 205, 205, 0.045),  /* top-left shine */
        rgba(205, 205, 205, 0.02) 40%, 
        rgba(205, 205, 205, 0.0125) 60%, 
        rgba(205, 205, 205, 0.05) 100%
    );
    border: 0.4px solid rgba(235, 235, 235, 0.50); /* soft border */
    background-color: rgba(204, 205, 205, 0.02);
    border-radius: 0.6rem;
}

/* -----------------------------------------------------
 * Modules: Shared Styles
 * ----------------------------------------------------- */

/* Left-side modules */
#window,
#custom-combined-time-date {
    margin-left: 7px;
    padding: 1px 12px;
}

#workspaces {
    margin-left: 7px;
}

/* Workspace buttons */
#workspaces button {
    padding: 0px 5px 0px 1px;
    border: none;
    background: transparent; /* inherit liquid glass from parent */
}

/* Active workspace */
#workspaces button.active {
    color: white;
}

/* Inactive workspaces */
#workspaces button {
    color: #898989;
}

/* Workspace hover transparency */
#workspaces button:hover {
    background: rgba(10, 10, 10, 0.10); /* subtle glass hover */
    color: white;
}

/* Right-side modules */
#bluetooth {
    font-size: 12pt;
    padding: 2px 8px;
    margin-left: 7px;
}
#wireplumber {
    padding: 2px 8px;  
    margin-left: 7px;  
}
#network {
    padding: 2px 16px 2px 8px;  
    margin-left: 7px;  
}
#memory,
#cpu {
    padding: 2px 11px 2px 8px;  
    margin-left: 7px;  
}

#bluetooth.connected {
    background: white;
    color: black;
    border: 0.4px solid rgba(255, 255, 255, 0.8);
}

#bluetooth.disabled {
    color: rgba(185, 185, 185, 0.6);
}

/* -----------------------------------------------------
 * Interactivity / States
 * ----------------------------------------------------- */
#window:hover, 
#memory:hover,
#network:hover,
#wireplumber:hover,
#bluetooth:hover,
#cpu:hover,
#cpu.critical {
    background: rgba(10, 10, 10, 0.10);
    color: white;
}
