@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(0, 0, 0, 0.2);
}

button {
    font-family: "SF Pro Display";
    font-size: 18px;
    margin: 4px;
    border-width: 1px;
    border-radius: 30;
    border-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    transition: all 100ms ease-in;
    box-shadow: 0px 0px 0px black;
    opacity: 0;
}

button:focus,
button:active,
button:hover {
    /* 20% Overlay 2, 80% mantle
    background-color: rgb(48, 50, 66);
    outline-style: none; */
    background-color: rgba(0, 0, 0, 0.8); /*#b9b1e2;*/
    outline-style: none;
    border-color: rgba(0, 0, 0, 0.2);
}

#logout {
    background-image: image(
        url("icons/logout.svg"),
        url("/usr/local/share/wlogout/icons/logout.svg")
    );
    animation: appear 300ms ease-out forwards;
    animation-delay: 0.1s;
    background-size: 10%; 
}

#suspend {
    background-image: image(
        url("icons/suspend.svg"),
        url("/usr/local/share/wlogout/icons/suspend.svg")
    );
    animation: appear 300ms ease-out forwards;
    animation-delay: 0.2s;
    background-size: 10%;
}

#hibernate {
    background-image: image(
        url("icons/hibernate.svg"),
        url("/usr/local/share/wlogout/icons/hibernate.svg")
    );
    animation: appear 300ms ease-out forwards;
    animation-delay: 0.3s;
    background-size: 10%;
}

#shutdown {
    background-image: image(
        url("icons/shutdown.svg"),
        url("/usr/local/share/wlogout/icons/shutdown.svg")
    );
    animation: appear 300ms ease-out forwards;
    animation-delay: 0.4s;
    background-size: 10%; 
}

#reboot {
    background-image: image(
        url("icons/reboot.svg"),
        url("/usr/local/share/wlogout/icons/reboot.svg")
    );
    animation: appear 300ms ease-out forwards;
    animation-delay: 0.5s;
    background-size: 10%; 
}

#lock {
    background-image: image(
        url("icons/lock.svg"),
        url("/usr/local/share/wlogout/icons/lock.svg")
    );
    animation: appear 300ms ease-out forwards;
    animation-delay: 0s;
    background-size: 10%; 
}
